APScheduler==3.6.3
asciimatics==1.14.0
asgiref==3.3.4
cachetools==4.2.2
certifi==2022.12.7
charset-normalizer==3.0.1
Django==3.2.16
django-cors-headers==3.13.0
djangorestframework==3.12.4
flake8==5.0.4
future==0.18.2
idna==3.4
mccabe==0.7.0
Pillow==9.3.0
psycopg2-binary==2.9.3
pycodestyle==2.9.1
pyfiglet==0.8.post1
pyflakes==2.5.0
python-dotenv==0.21.1
python-telegram-bot==13.7
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
pywin32==304
requests==2.28.2
six==1.16.0
sqlparse==0.4.1
tornado==6.2
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.14
wcwidth==0.2.5
